/*LEADERBOARD LAYOUT*/
.leaderboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gh-space-xl);
  overflow-y: auto;
}

.leaderboard-header {
  display: flex;
  flex-direction: column;
  gap: var(--gh-space-l);
  padding-bottom: var(--gh-space-xl);
  border-bottom: 3px solid var(--gh-color-4);
}

.leaderboard-header-title-container {
  display: flex;
  gap: var(--gh-space-m);
  align-items: center;
}

.leaderboard-header-title-container img {
  width: 35px;
}

.leaderboard-grid {
  display: flex;
  flex-direction: column;

  min-height: 200px;
  border: 3px solid var(--gh-color-5);
  border-radius: var(--gh-radius-l);

  overflow: hidden;
}

.leaderboard-grid-title-container {
  display: flex;
  background-color: var(--gh-color-4);
  padding: var(--gh-space-m);
}

.leaderboard-grid-title {
  color: var(--gh-color-1);
  text-shadow: 0px 0px 3px black;
}

.leaderboard-grid-cards {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-top: 3px solid var(--gh-color-5);
}

/*LEADERBOARD CARDS*/
.leaderboard-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: var(--gh-space-m);
  border-bottom: 2px solid var(--gh-color-5);
}

.leaderboard-card:last-child {
  border-bottom: none;
}

.leaderboard-card-info {
  display: flex;
  gap: var(--gh-space-m);
  align-items: center;
}

.leaderboard-card-titles {
  display: flex;
  flex-direction: column;
  gap: var(--gh-space-m);
  font-size: 0.8rem;
}

.leaderboard-card-position {
  width: 75px;
  height: 95px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--gh-color-5);
  z-index: -1;
}

.leaderboard-card-position.position-1 {
  background-color: rgba(207, 186, 0, 0.8);
}

.leaderboard-card-position.position-2 {
  background-color: rgb(83, 83, 83, 0.8);
}

.leaderboard-card-position.position-3 {
  background-color: rgb(138, 90, 0, 0.8);
}

.leaderboard-card-position img {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding: 10px;
  background-color: var(--gh-color-4);
  border-radius: 100%;
}

.leaderboard-card-position span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;
  color: var(--gh-color-1);
  font-size: 18px;
  text-shadow: 2px 2px 3px black;
  pointer-events: none;

  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000008a;
  border-radius: 100%;
}

.leaderboard-card-values {
  display: flex;
  flex-direction: column;
  gap: var(--gh-space-s);
}

.leaderboard-card-values span {
  text-align: end;
}

.leaderboard-card-values > span {
  color: var(--gh-accent);
  font-weight: 600;
}

.leaderboard-card-lastGame-container {
  display: flex;
  gap: var(--gh-space-l);
  align-items: baseline;
  font-size: 0.85rem;
}

.leaderboard-card-lastGame-container p {
  font-size: 0.75rem;
  color: var(--gh-color-5);
}

/*!  MEDIA  */
@media (max-width: 1800px) {
  /* DESKTOP or less */
}

@media (max-width: 1024px) {
  /* LAPTOP - TABLET or less */
}

@media (max-width: 769px) {
  /* SMALL TABLET or less */
  .leaderboard-header {
    text-align: center;
  }
  .leaderboard-header-title-container {
    justify-content: center;
  }
  .leaderboard-grid-title-container {
    justify-content: center;
  }
  .leaderboard-card {
    flex-direction: column;
    gap: 0;
    padding-right: 0;

    border-bottom: 3px solid var(--gh-color-5);
  }
  .leaderboard-card-titles {
    flex: 1;
    align-items: end;
  }
  .leaderboard-card-info {
    width: 100%;
    justify-content: start;
    border-bottom: 1px solid var(--gh-color-4);
    padding: var(--gh-space-s) var(--gh-space-m);
    gap: 0;
  }
  .leaderboard-card-values {
    padding: var(--gh-space-s) var(--gh-space-m);
    padding-bottom: var(--gh-space-m);
    width: 100%;
    align-items: center;
    gap: var(--gh-space-m);
  }
  .leaderboard-card-values > span {
    order: 2;
    font-size: 1.4rem;
    font-weight: 800;
  }
  .leaderboard-card-lastGame-container {
    justify-content: space-between;
    width: 100%;
  }
  .leaderboard-card-position.position-1,
  .leaderboard-card-position.position-2,
  .leaderboard-card-position.position-3 {
    background-color: transparent;
    z-index: 1;
    border-right: none;
  }
  .leaderboard-card-info:has(.leaderboard-card-position.position-1) {
    background-color: rgba(207, 186, 0, 0.8);
  }
  .leaderboard-card-info:has(.leaderboard-card-position.position-2) {
    background-color: rgb(83, 83, 83, 0.8);
  }
  .leaderboard-card-info:has(.leaderboard-card-position.position-3) {
    background-color: rgb(138, 90, 0, 0.8);
  }
  .leaderboard-card-position {
    width: 55px;
    height: 55px;
    border-right: none;
  }
}

@media (max-width: 480px) {
  /* MOBILE or less */

  .leaderboard-card-position {
    width: 40px;
    height: 40px;
  }

  .leaderboard-card-position img {
    width: 40px;
    height: 40px;
  }

  .leaderboard-card-position span {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .leaderboard-card-info {
    padding: var(--gh-space-xs) var(--gh-space-s);
  }
}
