.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gh-space-xl);
  overflow-y: auto;
}

.profile-header {
  display: flex;
  flex-direction: column;
  gap: var(--gh-space-l);
  padding-bottom: var(--gh-space-xl);
  border-bottom: 3px solid var(--gh-color-4);
}

.profile-grid {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: var(--gh-space-xl);
}

.profile-card {
  display: flex;
  flex-direction: column;
  padding: var(--gh-space-l);
  flex: 1;
  background-color: var(--gh-color-4);
  border: 2px solid var(--gh-color-5);
  gap: var(--gh-space-l);
  border-radius: var(--gh-radius-l);
}

.profile-card-title {
  background-color: var(--gh-color-4);
  width: 100%;
  padding: var(--gh-space-l);
  border-radius: var(--gh-radius-l) var(--gh-radius-l) 0 0;
  border-bottom: 2px solid var(--gh-color-5);
  color: var(--gh-color-1);
  text-shadow: 0px 0px 3px black;
}

.profile-card-title h2 {
  font-size: 1.2rem;
}

.player-info-card,
.statistics-card {
  display: flex;
  flex-direction: column;
  padding: var(--gh-space-l);
  flex: 1;
  gap: var(--gh-space-xxl);
  font-size: 1rem;
  font-weight: 600;
  color: var(--gh-color-1);
}

.player-info-card h3,
.statistics-card h3 {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gh-color-5);
}

.player-info-card > div,
.statistics-card > div {
  display: flex;
  gap: var(--gh-space-l);
}

.player-info-card > div {
  flex-direction: column;
}

.profile-header-title-container {
  display: flex;
  gap: var(--gh-space-m);
}

.profile-header-title-container img {
  width: 35px;
}

/*!  MEDIA  */
@media (max-width: 1800px) {
  /* DESKTOP or less */
}

@media (max-width: 1024px) {
  /* LAPTOP - TABLET or less */
}

@media (max-width: 769px) {
  /* SMALL TABLET or less */
  .profile-grid {
    flex-direction: column;
    text-align: center;
    gap: var(--gh-space-l);
  }
  .profile-card {
    gap: 0;
  }
  .profile-card h2 {
    font-size: 1.1rem;
  }
  .profile-card h3,
  .profile-card span {
    font-size: 0.8rem;
  }
  .profile-card-title {
    padding: var(--gh-space-m);
  }
  .statistics-card,
  .player-info-card {
    gap: var(--gh-space-l);
    padding: 0;
    padding-top: var(--gh-space-m);
  }
  .player-info-card div,
  .statistics-card div {
    justify-content: space-between;
    flex-direction: row;
    gap: var(--gh-space-s);
  }
}

@media (max-width: 480px) {
  /* MOBILE or less */
}
